# Herramientas e IA (PROHIBIDO)
.gemini*
.antigravity*
.vscode-server/
.antigravity-server/

# Configuracion de Usuario y Sistema
.bash*
.profile
.ssh/
.npm/
.dotnet/
.cache/
.local/
.sudo_as_admin_successful

# Documentos Locales / Informes (Mantener solo en el PC)
*Final*.md
Memoria_Tecnica_Final_ASIR.md
Organizacion_Proyecto_ASIR.md
db.canarias.local.fixed

# Datos Pesados de Docker
infraestructura/db_data/
infraestructura/wordpress_data/
infraestructura/correo/mail-data/
infraestructura/correo/mail-state/
infraestructura/correo/mail-logs/
infraestructura/correo/rainloop-data/
infraestructura/vault_data/
infraestructura/kuma_data/
backups/

# Temporales
*.save
*.swp
.DS_Store
